#channels-column {
  color: var(--text-main) !important;
}

.channel-item {
  border-radius: 4px;
  padding: 10px;
  transition: 0.5s all;
  cursor: pointer;
}

.channel-item:hover {
  background: var(--bg-panel);
}

.channel-item.active {
  border-left: 2px solid var(--accent-primary);
  background: var(--bg-panel);
}

.category-wrapper {
  margin-top: 18px;
}

.category-header {
  padding: 0 8px;
  height: 24px;
  display: flex;
  align-items: center;
  color: var(--text-muted);
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.1s;
}

.category-header:hover {
  color: var(--text-bright);
}

.category-header .arrow {
  font-size: 16px;
  width: 12px;
  margin-right: 2px;
}

.channel-item {
  margin: 2px 8px;
  padding: 6px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--text-muted);
  cursor: pointer;
}

.channel-item:hover {
  background-color: rgba(78, 80, 88, 0.3);
  color: var(--text-bright);
}

.channel-item.active {
  background-color: rgba(78, 80, 88, 0.6);
  color: white;
}

.channel-hash {
  font-size: 20px;
  color: var(--bg-offline);
  font-weight: 400;
}

.not-selectable {
  cursor: none;
  user-select: none;
  pointer-events: none;
  opacity: 0.4;
}
