.chat-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    position: relative;
}

.messages-scroller {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    overflow-anchor: none;
}

.chat-input-area {
    padding: 0 20px 30px 20px;
    flex-shrink: 0;
}

.no-messages {
    color: var(--bg-offline);
    background: #1a1d2296;
    border-radius: 20px;
    padding: 10px;
    border: 1px dashed var(--accent-primary);
    text-align: center;
    color: var(--text-main);
}

.no-messages h1 {
    font-weight: 400;
}

.input-wrapper {
    background-color: #1a1d2296; /* Make this a variable */
    border-radius: 8px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
}

.input-wrapper input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-bright);
    width: 100%;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.3s all;
}

.input-wrapper input::placeholder {
    color: var(--border-color)
}

.input-wrapper input:hover {
    opacity: 1.0;
}

.messages-scroller::before {
    content: '';
    margin-top: auto;
}

.messages-scroller {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 8px;
    overflow-anchor: none;
}

.message-group {
    display: flex;
    margin-top: 1.0625rem;
    padding: 5px;
    gap: 16px;
}

.message-group:hover, .message-sub:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.message-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 2px;
}

.message-details {
    display: flex;
    flex-direction: column;
}

.message-header {
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.author-name {
    color: var(--text-bright);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.author-name:hover {
    text-decoration: underline;
}

.timestamp {
    color: var(--text-muted);
    font-size: 0.75rem;
}

.message-content {
    color: var(--text-main);
    line-height: 1.375rem;
    white-space: pre-wrap;
    margin-top: 5px;
    margin-bottom: -10px;
}

.message-sub {
    padding: 0px 0px 0px 55px;
}

.typing-status-wrapper {
    position: absolute;
    bottom: 8px;
    left: 32px; 
    height: 16px;
    pointer-events: none;
}

.typing-status-wrapper p {
    font-size: 12px;
    color: #dbdee1;
    margin: 0;
    line-height: 16px;
    animation: fadeIn 0.2s ease-in-out alternate;
}

.typing-status-wrapper strong {
    color: #f2f3f5;
    font-weight: 600;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-2px); }
    to { opacity: 1; transform: translateY(0); }
}