.avatar-img {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  object-fit: cover;
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.discriminator {
  color: var(--text-main);
  font-weight: 500;
  opacity: 0.4;
}
