.member-list-item {
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    transition: 0.3s opacity;
    cursor: pointer;
}

.member-list-item.offline-member {
    opacity: 0.3;
}

.member-list-item.offline-member:hover {
    opacity: 1.0;
}

.member-list-item-wrapper {
    padding-left: 20px;
}

.role-title {
    padding: 10px 0px 10px 10px;
    color: var(--accent-primary);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.25px;
}

.role-group {
    margin-bottom: 8px;
}


.avatar-wrapper {
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
}

.avatar-img {
   width: 32px;
    height: 32px;
    border-radius: 6px;
    object-fit: cover; 
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.status-dot {
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--bg-header-alt);
}

.online { background-color: var(--bg-online); }
.idle   { background-color: var(--bg-idle); }
.dnd    { background-color: var(--bg-dnd); }
.offline { background-color: var(--bg-offline); }

.typing-indicator-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: 10px;
    padding: 2px 5px;
    position: absolute;
    bottom: -2px;
    right: -2px;
}

.typing-indicator-dots .dot {
    width: 4px;
    height: 4px;
    background-color: #dbdee1;
    border-radius: 50%;
    display: inline-block;
    animation: typing-fade 1.4s infinite ease-in-out both;
}

.typing-indicator-dots .dot:nth-child(1) {
    animation-delay: -0.32s;
}

.typing-indicator-dots .dot:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes typing-fade {
    0%, 80%, 100% { 
        transform: scale(0);
        opacity: 0.3;
    } 
    40% { 
        transform: scale(1);
        opacity: 1;
    }
}