.member-list-item {
  display: flex;
  color: white;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  transition: 0.3s opacity;
  cursor: pointer;
}

.member-list-item.offline-member {
  opacity: 0.3;
}

.member-list-item.offline-member:hover {
  opacity: 1;
}

.member-list-item-wrapper {
  padding-left: 20px;
  display: block;
}

.role-title {
  padding: 10px 0 10px 10px;
  color: var(--accent-primary);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.role-group {
  margin-bottom: 8px;
}

.avatar-wrapper {
  position: relative;
  display: flex;
  width: 32px;
  height: 32px;
}

.avatar-img {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  object-fit: cover;
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.status-dot {
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--bg-header-alt);
}

.status-dot-large {
  position: absolute;
  bottom: 8px;
  right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--bg-header-alt);
}

.online {
  background-color: var(--bg-online);
}

.idle {
  background-color: var(--bg-idle);
}

.dnd {
  background-color: var(--bg-dnd);
}

.offline {
  background-color: var(--bg-offline);
}

.typing-indicator-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: 10px;
  padding: 2px 5px;
  position: absolute;
  bottom: -2px;
  right: -2px;
}

.typing-indicator-dots .dot {
  width: 4px;
  height: 4px;
  background-color: #dbdee1;
  border-radius: 50%;
  display: inline-block;
  animation: typing-fade 1.4s infinite ease-in-out both;
}

.typing-indicator-dots .dot:nth-child(1) {
  animation-delay: -0.32s;
}

.typing-indicator-dots .dot:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes typing-fade {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.3;
  }

  40% {
    transform: scale(1);
    opacity: 1;
  }
}

.profile-popout-container {
  position: fixed;
  transform: translateX(-100%);
  width: 300px;
  background: var(--bg-alt);
  border-radius: 8px;
  box-shadow: 0 8px 16px rgb(0 0 0 / 30%);
  z-index: 1000;
  border: 1px solid var(--accent-primary);
  overflow: hidden;
}

.popout-banner {
  height: 100px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.user-details-centered {
  padding-top: 4px;
  display: flex;
  align-content: center;
  align-items: center;
}

.avatar-wrapper-centered.overlap {
  margin-top: -80px;
  position: relative;
  display: inline-block;
}

.avatar-wrapper-centered {
  position: relative;
  display: inline-block;
}

.profile-popout-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popout-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.avatar-img-large {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid var(--bg-alt);
}

.user-details-centered .username {
  display: block;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

.user-details-centered .discriminator {
  color: var(--text-muted);
  font-size: 1.2rem;
}

.popout-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section-title {
  font-size: 10px;
  font-weight: 800;
  color: var(--text-muted);
  text-transform: uppercase;
}

.popout-separator {
  border: none;
  border-top: 1px solid var(--border-color);
  margin: 4px 0;
}

.roles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.role-pill {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid var(--bg-main);
  color: var(--text-main);
  background: var(--bg-panel);
  display: flex;
  gap: 5px;
}

.role-removal-btn {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 8px;
}

.role-removal-btn:hover {
  background-color: rgb(255 255 255 / 10%);
  color: var(--accent-primary);
}

.role-pill:hover .role-removal-btn {
  right: 4px;
  opacity: 1;
}

.role-removal-btn svg {
  width: 14px;
  height: 14px;
}

.role-emphasis-border {
  border-left: 1px solid green;
  border-bottom: 6px solid green;
  border-top: 1px solid green;
  border-right: 1px solid green;
}

.role-green {
  border-color: green;
}

.add-role-btn {
  cursor: pointer;
  background: var(--bg-panel);
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: var(--text-main);
}

.note-input {
  background: var(--border-color);
  color: var(--text-bright);
  font-size: 12px;
  resize: none;
  padding: 8px;
  min-height: 40px;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-sizing: border-box;
}

.note-input:focus {
  background: var(--bg-panel);
  border-radius: 4px;
}

.name-line {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 2px;
}

.pronouns-row {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.pronouns {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-muted);
  background: rgb(255 255 255 / 5%);
  padding: 1px 6px;
  border-radius: 4px;
  text-transform: lowercase;
}

.about-me-container {
  margin-top: -15px;
  color: var(--text-main);
  margin-bottom: -20px;
  padding: 5px;
}

.about-me-container > p {
  font-size: 16px;
  overflow-wrap: break-word;
}

.avatar-img-large:hover {
  cursor: pointer;
  filter: brightness(0.4);
  transition: filter 0.2s ease;
}

.avatar-img-text::after {
  content: 'VIEW PROFILE';
  white-space: pre-wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}
