.settings-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  animation: settings-fade-in 0.2s ease-out;
}

.settings-sidebar-wrapper {
  background-color: var(--bg-sidebar);
  border-radius: 12px;
  border: 1px solid var(--border-color);
  display: flex;
}

.settings-sidebar {
  width: 225px;
  padding: 30px 0 0 10px;
  overflow-y: auto;
}

.sidebar-category {
  color: rgb(227 132 253); /* Make this a var */
  font-size: 12px;
  font-weight: 700;
  padding: 8px;
}

.sidebar-item {
  color: #b5bac1; /* Make this a var */
  padding: 8px;
  margin-bottom: 2px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.sidebar-item:hover {
  background-color: var(--bg-panel);
  color: #dbdee1; /* Make this a var */
}

.sidebar-item.active {
  background-color: var(--accent-primary);
  color: var(--bg-sidebar);
}

.settings-content-wrapper {
  display: flex;
  position: relative;
  flex: 1 1;
  margin: 0 0 0 -30px;
  background-color: var(--bg-panel);
  border-radius: 12px;
  border: 1px solid var(--border-color);
  box-shadow: 0 8px 32px rgb(0 0 0 / 30%);
}

.settings-main-content {
  flex-grow: 1;
  overflow: hidden auto;
}

.account-card {
  border-radius: 8px;
  overflow: hidden;
  margin-top: 10px;
}

.version-text {
  color: #a9b1d682; /* Var pls */
  font-size: 12px;
  padding: 8px 10px;
}

.account-banner {
  height: 100px;
}

.account-info-header {
  padding: 16px;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #3f4147;
  background-color: var(--bg-header-alt);
}

.avatar-stack {
  position: relative;
  top: -30px;
  margin-bottom: -30px;
}

.large-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 6px solid var(--bg-header-alt);
  background-color: #313338;
}

.user-tag {
  margin-left: 15px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

.settings-header {
  color: var(--accent-primary);
  padding: 20px;
  width: 100%;
  border-bottom: 1px dashed #9b75e1f5; /* Var */
  background: var(--bg-main);
  display: flex;
  justify-content: space-between;
}

.account-edit-box {
  background-color: var(--bg-main);
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.field-group {
  margin-bottom: 20px;
}

.field-group label {
  display: block;
  color: var(--accent-primary);
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
}

.field-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #dbdee1; /* Var */
}

.small-edit-btn {
  width: 100px;
}

.close-btn-wrapper {
  padding: 60px 20px;
}

.close-btn {
  cursor: pointer;
  text-align: center;
  position: absolute;
  right: 20px;
  top: 30px;
}

.settings-header h1 {
  font-size: 20px;
  font-weight: 400;
}

.close-circle {
  width: 36px;
  height: 36px;
  border: 1px dashed var(--accent-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b5bac1; /* Var */
  margin-bottom: 4px;
}

.close-btn:hover .close-circle {
  background-color: var(--bg-sidebar);
}

.close-text {
  color: #b5bac1; /* Var */
  font-size: 12px;
  font-weight: 700;
}

@keyframes settings-fade-in {
  from {
    opacity: 0;
    transform: scale(1.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
