.modal-backdrop {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 85%);
  border: none;
  padding: 0;
  margin: 0;
  cursor: default;
  animation: fadeIn 0.2s ease;
  z-index: -1;
  pointer-events: auto;
}

.modal-backdrop.transparent-backdrop {
  background: transparent;
}

.modal-container {
  z-index: 1;
  position: relative;
  min-width: 440px;
  border-radius: 8px;
  padding: 28px;
  color: white;
  box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
  animation: modal-pop 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: var(--bg-alt);
  border: 1px dashed color-mix(in srgb, var(--accent-primary), transparent 20%);
  background-clip: padding-box;
  pointer-events: auto;
}

@keyframes modal-pop {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-dark-alt);
  margin: 28px -28px -28px;
  padding: 16px 28px;
  border-radius: 0 0 8px 8px;
}

.modal-error {
  text-align: right;
  margin-top: -10px;
}

.context-menu-out {
  background: var(--bg-alt);
  border: 1px dashed var(--accent-primary);
  border-radius: 10px;
}

.context-menu-out .button {
  cursor: pointer;
  color: var(--text-main);
  transition: 0.3s all;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.context-menu-out .button:hover {
  background: var(--bg-dark-alt);
  color: white; /* Should this be anything else we already have.. if this works well against bg-dark-alt..? */
}

.context-menu-out hr {
  background: none;
  border: 1px solid var(--bg-panel);
  margin: 0;
}

.modal-container.modal-container-profile {
  padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  min-width: unset;
}
