.popup-backdrop {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 999;
  pointer-events: auto;
}

.popup-wrapper {
  z-index: 1000;
  animation: fade-in 0.1s ease-out;
  pointer-events: auto;
}

.popup-wrapper.user-profile-fixed {
  position: fixed;
  bottom: 70px;
  left: 110px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
