body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-dark-alt);
  background-image: radial-gradient(var(--bg-panel) 2px, transparent 3px);
  background-size: 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, sans-serif;
}

.center {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.register-form {
  background: var(--bg-alt);
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--text-alt);
  box-shadow:
    0 0 15px rgb(167 139 250 / 20%),
    0 0 40px rgb(167 139 250 / 10%),
    inset 0 0 4px rgb(167 139 250 / 20%);
  border: 1.5px dashed var(--accent-primary);
}

.register-form .form-header {
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  font-size: 20px;
}

.register-form .form-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.register-form input,
.register-form select {
  background: var(--bg-input);
  border: 1px solid var(--border-color);
  padding: 12px;
  border-radius: 6px;
  color: white;
  outline: none;
  transition: border-color 0.2s;
}

.register-form input:focus {
  border-color: var(--accent-primary);
}

.register-form a {
  color: var(--accent-secondary);
  text-decoration: none;
  font-size: 14px;
}

.register-form a:hover {
  text-decoration: underline;
}

.form-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.agreement {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 0.8rem;
  line-height: 1.4;
}

.form-body span {
  font-size: 12px;
  font-weight: 600;
}

.layout-container {
  display: flex;
  align-items: center;
  position: relative;
}

.preview-tab {
  background: var(--accent-primary);
  color: var(--bg-sidebar);
  padding: 30px 16px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0 8px 8px 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  border: 1px solid var(--accent-primary);
  position: absolute;
  right: -29px;
  top: 35%;
}

.preview-tab:hover {
  background: #cbb1ff; /* Var */
  padding-right: 20px;
}

.preview-tab.active {
  background: var(--bg-input);
  color: var(--accent-primary);
}
